<h1>Bills of Sales</h1>

<table style="width:100%">
    <tr>
      <th>Order Number</th>
      <th>Order Name</th>
      <th>Order From</th>
      <th>Order To</th>
      <th>Total Price</th>
    </tr>
    <% orders.forEach((order) => { %>
        <tr>
            <td><%= order.id %> </td>
            <td><%= order.orderName %> </td>
            <td><%= order.orderFrom %> </td>
            <td><%= order.orderTo %> </td>
            <td><%= order.totalPrice %> </td>
        </tr>
    <% }) %>  
</table>