<section class="">
    <h1 class="page-header" style="text-align: center;">Bill of Sales</h1>
</section>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Order Number</th>
            <th scope="col">Order From</th>
            <th scope="col">Business</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
            <% orders.forEach((order) => { %>
                <tr>
                    <th scope="row"><%= order.id %> </th>
                    <td><%= order.orderName %> </td>
                    <td><%= order.orderFrom %> </td>
                    <td><%= order.orderTo %> </td>
                    <td><%= order.totalPrice %> </td>
                </tr>
            <% }) %> 
        </tbody>
      </table>
</div>



