<h2 class="page-header">Businesss</h2>
<div class="business--large">
    <% profiles.forEach(profile => { %> 
        <div class="business-child" style="background-color:rgb(199, 215, 223); border:1px solid rgb(109, 98, 98)">
            <h3 class="name"><%= profile.name.toUpperCase() %></h3>
            <img src="businessImage/<%= profile.imageLink %>" alt="images">
            <div class="info">
            <h4 class="type"> <%= profile.type %> </h4>
            <p class= "date"> <%= profile.description %> </p>
            <div class="buttons" style="display:flex;">
                <a href="/business/<%= profile.id %>"><button class="btn btn-info">VIEW</button></a>
            </div>
            </div>
        </div>
    <% }) %> 
</div>
