<div class="album py-5 bg-light">
    <h2 class="page-header"><%= profile.name %> </h2>
    <div class="container">
        <div class="row">
            <% items.forEach(item => { %> 
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/itemimages/<%= item.imageLink %>" data-holder-rendered="true">
                        <div class="card-body">
                            <h3 class="name"><%= item.name.toUpperCase() %></h3>
                            <p class="card-text">Quantity of Package: <%= item.quantityOfPackage %> </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group btn-row">
                                    <a href="/business/<%= profile.id %>/items/<%= item.id %>"><button class="btn btn-info">VIEW</button></a>
                                    <a href="/order/items/<%= item.id %>"><button class="btn btn-info">Order</button></a>
                                </div>
                            </div>
                            <small class="text-muted"><%= item.createdAt.toDateString() %> </small>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <a class="" href="/business/<%= profile.id %>/new"><button class="btn btn-primary">Add More Items</button></a>
    </div>
</div>
<div class="brn-row">
    <a href="/business/delete/<%= profile.id %> "><button class="btn btn-danger">Delete</button></a>
    <form method="GET" action="/business/<%= profile.id %>/edit/?_method=PUT" class="p-2">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>


