<h2 class="page-header">Total orders</h2>
<div class="order-grid">
    <% orders.forEach(order => { %> 
        <div class="order-child" style="background-color:rgb(199, 215, 223); border:1px solid rgb(109, 98, 98);">
            <h3 class="name"><%= order.orderName.toUpperCase() %></h3>
            <p>Order Id NO: <%= order.id %> </p>
            <p class="name"> Order From:<%= order.orderFrom %> To <%= order.orderTo %> </p>
            <div class="buttons" style="display:flex;">
                <a href="/order/<%= order.id %>"><button class="btn btn-info">VIEW</button></a>
            </div>
        </div>
    <% }) %> 
</div>
