<h2 class="page-header">Total orders</h2>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <% orders.forEach(order => { %> 
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h3 class="name"><%= order.orderName.toUpperCase() %></h3>
                            <p class="card-text">Order Id NO: <%= order.id %> </p>
                            <p class="card-text"> Order From: <%= order.orderFrom %></p>
                            <p class="card-text">Business: <%= order.orderTo %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group btn-row">
                                    <a href="/order/<%= order.id %>"><button class="btn btn-info">VIEW</button></a>
                                    <div class="business-dlt-btn">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Delete</button>
                                    </div>
                                </div>
                            </div>
                              <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                            <form method="POST" action="/order/<%= order.id %>/delete/?_method=DELETE" class="business-dlt-btn">
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            <small class="text-muted"><%= order.createdAt.toDateString() %> </small>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
</div>