<h2 class="page-header">Orders show page</h2>

<p>Order id No: <%= order.id %> </p>
<p><%= order.orderFrom %> TO <%= order.orderTo %> </p>

<% items.forEach((item) => { %> 
    <div class="row">
        <div class=""style="background-color:rgb(218, 231, 236); border:1px solid rgb(109, 105, 105);">
            <h3 class="name"><%= item.name.toUpperCase() %></h3>
            <img src="/itemimages/<%= item.imageLink %>" alt="images" style="height:100px;width:100px;">
            <div class="info">
                <p class="">Quantity of Package we have: <%= item.quantityOfPackage %> </p>
                <p class="">Items per Package: <%= item.quantityOfitemsPerPackage %></p>
                <p class=""> SP per Package: <%= item.sellingPricePerPackage %></p>
            </div>
        </div>
    </div>
<% }) %> 

<form method="GET" action="/order/<%= order.id %>/complete/?_method=PUT" class="p-2">
    <button type="submit" class="btn btn-primary">Order Complete</button>
</form>
 



