<h2 class="page-header">Orders show page</h2>
<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="page-header">Orders show page</h2>
        <p>Order id No: <%= order.id %> </p>
        <p><%= order.orderFrom %> TO <%= order.orderTo %> </p>
        <div class="row">
            <% items.forEach((item) => { %>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/itemimages/<%= item.imageLink %>" data-holder-rendered="true">
                        <div class="card-body">
                            <h3 class="name"><%= item.name.toUpperCase() %></h3>
                            <p class="card-text">Quantity we have: <%= item.quantityOfPackage %> </p>
                            <p class="card-text">Items per Package: <%= item.quantityOfitemsPerPackage %></p>
                            <p class="card-text"> SP per Package: <%= item.sellingPricePerPackage %></p>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
</div>

<form method="GET" action="/order/<%= order.id %>/complete/?_method=PUT" class="p-2">
    <button type="submit" class="btn btn-primary">Order Complete</button>
</form>

